<div class="card d-flex" style="width: 18rem; display: flex;">
   <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9aIl9DbzEVC63MdxKEsnsyRsgFd070wxKqw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hp Loptops</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary m-1">120/-</button>
      <button href="#" class="btn btn-danger m-1">Price</button>
      <button href="#" class="btn btn-danger">Add to cart</button>
    </div>
   </div>
   <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9aIl9DbzEVC63MdxKEsnsyRsgFd070wxKqw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hp Loptops</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary m-1">120/-</button>
      <button href="#" class="btn btn-danger m-1">Price</button>
      <button href="#" class="btn btn-danger">Add to cart</button>
    </div>
   </div>
   <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9aIl9DbzEVC63MdxKEsnsyRsgFd070wxKqw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hp Loptops</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary m-1">120/-</button>
      <button href="#" class="btn btn-danger m-1">Price</button>
      <button href="#" class="btn btn-danger">Add to cart</button>
    </div>
   </div>
   <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9aIl9DbzEVC63MdxKEsnsyRsgFd070wxKqw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hp Loptops</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary m-1">120/-</button>
      <button href="#" class="btn btn-danger m-1">Price</button>
      <button href="#" class="btn btn-danger">Add to cart</button>
    </div>
   </div>
   <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9aIl9DbzEVC63MdxKEsnsyRsgFd070wxKqw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hp Loptops</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary m-1">120/-</button>
      <button href="#" class="btn btn-danger m-1">Price</button>
      <button href="#" class="btn btn-danger">Add to cart</button>
    </div>
   </div>
   <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9aIl9DbzEVC63MdxKEsnsyRsgFd070wxKqw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hp Loptops</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button href="#" class="btn btn-primary m-1">120/-</button>
      <button href="#" class="btn btn-danger m-1">Price</button>
      <button href="#" class="btn btn-danger">Add to cart</button>
    </div>
   </div>
  </div>
  
